# Dependencies
node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Next.js
.next
out
dist

# Production
build

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore
.github

# Documentation
README.md
docs

# CI/CD
.gitlab-ci.yml
.travis.yml
